<div class="app-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button type="button" class="navbar-brand d-flex align-items-center border-0 bg-transparent text-white" (click)="goHome()" title="Home">
        <fa-icon [icon]="faMusic" class="me-2 navbar-brand-icon" />
        <span>M4.Manager</span>
        <small class="navbar-brand-tagline text-white-50 ms-2">YT-DLP Music Manager - Fork of MeTube</small>
      </button>
      <div class="navbar-nav ms-auto d-flex align-items-center">
        <div class="nav-item me-2">
          <button class="btn btn-link nav-link py-2 px-0 px-sm-2 d-flex align-items-center"
            type="button"
            (click)="onAccentColorClick()"
            title="Accent Color">
            <fa-icon [icon]="faPalette" />
          </button>
        </div>
        <div class="nav-item dropdown">
          <button class="btn btn-link nav-link py-2 px-0 px-sm-2 dropdown-toggle d-flex align-items-center"
            id="theme-select"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            data-bs-display="static">
            @if(activeTheme){
            <fa-icon [icon]="activeTheme.icon" />
            }
          </button>
          <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="theme-select">
            @for (theme of themes; track theme) {
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center"
                [class.active]="activeTheme === theme"
                (click)="themeChanged(theme)">
                  <span class="me-2 opacity-50">
                    <fa-icon [icon]="theme.icon" />
                  </span>
                  {{ theme.displayName }}
                  <span class="ms-auto"
                  [class.d-none]="activeTheme !== theme">
                  <fa-icon [icon]="faCheck" />
                  </span>
                </button>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="main-layout">
    <app-sidebar 
      [selectedArtist]="selectedArtist"
      (artistSelected)="onArtistSelected($event)"
      (addArtistClicked)="onAddArtist()">
    </app-sidebar>

    <div class="content-area">
      @if (showHome) {
        <app-home (artistSelected)="onArtistSelected($event)" />
      } @else {
        <app-artist-detail 
          [artist]="selectedArtist"
          (downloadAlbum)="onDownloadAlbum()"
          (downloadSingle)="onDownloadSingle()">
        </app-artist-detail>
      }
    </div>
  </div>
</div>
